####################################################################
# Avoid your project being littered with annoying files & folders! #
####################################################################
######### Please do not remove lines 7 and 8 - thanks! 🙂 #########
###################################################################

.DS_Store
starter-code/